body{
    font-family: 'Merienda', cursive;
background-color: grey;
text-align: center;
}
h1{
    font-size: 8rem;
    padding: 5% 15%;
}
.container
{
    padding: 5% 15%;
}

.dice
{
    
    font-size: 20px;
    color: aquamarine;
}